/* ------------------------------------------------------ADMIN CONTAINER STYLE STARTS HERE------------------------------------------------------ */

/*-------------------------------------------------------------
----------------- Overall Styling starts here------------------
---------------------------------------------------------------  */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
  --blue: #4070f4;
  --black: #000000;
  --light-blue: #a6bcfa;
  --dark-blue: #03262c;
  --light-color: #555;
  --box-shadow: 0.3rem 0.3rem 0 #d2dfff;
  --text-shadow: 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.1rem solid var(--blue);
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

html {
  max-zoom: 75%;
}

#sidebar::-webkit-scrollbar {
  visibility: hidden;
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--blue);
}

::-webkit-scrollbar {
  width: 0.4rem;
}

/* Overall styling ends here  */

/*-------------------------------------------------------------
----------------- navigation section starts here---------------
---------------------------------------------------------------  */

.navigation {
  height: 100%;
  width: 3rem;
  position: relative;
}

.navigation .menu-btn {
  position: fixed;
  left: 1.8rem;
  top: 1rem;
  background: var(--white);
  color: var(--blue);
  height: 3rem;
  width: 3rem;
  z-index: 10000;
  border: var(--border);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

#btn:checked ~ .menu-btn {
  left: 255px;
}

.navigation .menu-btn i {
  position: absolute;
  font-size: 23px;
  transition: all 0.3s ease;
}

.navigation .menu-btn i.fa-times {
  opacity: 0;
}

#btn:checked ~ .menu-btn i.fa-times {
  opacity: 1;
  transform: rotate(-180deg);
}

#btn:checked ~ .menu-btn i.fa-bars {
  opacity: 0;
  transform: rotate(180deg);
}

#sidebar {
  position: fixed;
  border: 0.2rem solid var(--blue);
  background: var(--light-blue);
  height: 100%;
  width: 255px;
  overflow-y: scroll;
  left: -270px;
  transition: all 0.3s ease;
  z-index: 9999;
}

#btn:checked ~ #sidebar {
  left: 0;
}

#sidebar .title {
  line-height: 65px;
  text-align: center;
  background: var(--blue);
  font-size: 1.5rem;
  color: var(--white);
  font-weight: 600;
  border-bottom: 1px solid var(--dark-blue);
  cursor: pointer;
}

#sidebar .title i {
  color: var(--dark-blue);
  font-size: 1.7rem;
}

#sidebar .list-items {
  position: relative;
  width: 100%;
  height: 92%;
  list-style: none;
}

#sidebar .list-items li {
  padding-left: 30px;
  line-height: 50px;
  border-top: 1px solid var(--blue);
  border-bottom: 1px solid var(--blue);
  transition: all 0.3s ease;
}

#sidebar .list-items li:hover {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  box-shadow: 0 0px 10px 3px var(--blue);
}

#sidebar .list-items li:first-child {
  border-top: none;
}

#sidebar .list-items li a {
  color: var(--black);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  height: 100%;
  width: 100%;
  display: block;
}

#sidebar .list-items li a i {
  margin-right: 15px;
  color: var(--dark-blue);
  font-size: 1.2rem;
}

/* navigation section ends here  */

/*-------------------------------------------------------------
--------------- Overall common Section starts here-------------
---------------------------------------------------------------  */

header {
  height: 80px;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
  border: 1px solid var(--blue);
  box-shadow: 0.5rem 0.5rem 0 var(--light-blue);
  padding: 1rem 8rem;
  z-index: 5000;
}

.main-content {
  padding: 0;
  overflow: hidden;
}

.main-content header .menu-toggle h1 {
  margin-left: -2rem;
  color: var(--blue);
}

.main-content header .icon a {
  cursor: pointer;
  text-decoration: none;
  margin-right: -1rem;
}

.main-content header .icon a span {
  padding: 3px;
  font-size: 1.6rem;
  color: var(--blue);
}

.main-content header .icon .fa-file-export {
  font-size: 1.8rem;
}

.main {
  padding: 1.2rem;
  background: var(--light-blue);
  min-height: 89.2vh;
  margin-top: 5rem;
}

.main1 {
  padding: 1.2rem;
  background: var(--light-blue);
  min-height: calc(100%-70px);
  margin-top: 5rem;
}

.page-header {
  display: flex;
  height: 50px;
  border-bottom: 0.2rem solid #4070f4;
  justify-content: space-between;
}

.page-header div h1 {
  font-size: 1.5rem;
}

.UserDesign {
  text-transform: capitalize;
  color: #4070f4;
  background-color: #fff;
  padding: 10px;
  margin-left: 1rem;
  border: 0.1rem solid #4070f4;
}

.header-actions a {
  outline: none;
  text-decoration: none;
  color: var(--white);
  background: var(--blue);
  border: var(--border);
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 1rem;
}

.header-actions .emoji10 {
  outline: none;
  text-decoration: none;
  color: var(--white);
  background: var(--blue);
  border: var(--border);
  padding: 0.5rem 0.9rem;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 5.8rem;
}

.header-actions a:hover {
  background: var(--white);
  color: var(--blue);
  border: var(--border);
  box-shadow: var(--box-shadow);
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  color: var(--white);
  background: var(--blue);
  box-shadow: var(--box-shadow);
  font-size: 1.2rem;
  padding: 0.2rem 1rem;
  font-weight: 500;
  margin: 2rem;
  justify-content: space-between;
  text-decoration: none;
  border: var(--border);
  cursor: pointer;
}

.btn i {
  font-size: 1rem;
  padding: 0.2rem;
}

.btn:hover {
  background: var(--white);
  color: var(--blue);
}

@media (max-width: 800px) {
  .main-content header .icon .dismiss {
    visibility: hidden;
    display: block;
  }

  .main-content header .icon span {
    padding: 0;
    margin-top: -30px;
  }
}

@media (max-width: 680px) {
  .page-header h1 {
    font-size: 1.8rem;
  }

  .page-header .header-actions a {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  .main-content header .menu-toggle h1 {
    margin-left: 6rem;
  }
}

@media (max-width: 530px) {
  .page-header .header-actions .emoji1 {
    display: none;
    visibility: hidden;
  }

  .page-header .header-actions .emoji2 {
    display: block;
    visibility: visible;
  }

  .main .page-header .UserDesign,
  .main1 .page-header .UserDesign {
    display: none;
    visibility: hidden;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: calc(100%-50%);
    align-items: center;
  }

  .btn {
    width: 50%;
    margin: 1rem;
  }
}

@media (max-width: 380px) {
  .btn {
    width: 100%;
  }

  .main-content header .menu-toggle h1 {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .main-content header .menu-toggle h1 {
    font-size: 1.5rem;
  }
}

/* Overall common Section ends here */

/*-------------------------------------------------------------
----------------- Admin Dashboard Section starts here ---------
---------------------------------------------------------------  */

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.2rem;
  margin-top: 1.5rem;
  transform: translateX(3.5%);
}

.card-single {
  background: var(--white);
  padding: 0.8rem;
  border: 0.2rem solid #4070f4;
  border-radius: 2px;
  width: 75%;
}

.card-flex {
  display: grid;
  grid-template-columns: 65% auto;
  align-items: center;
}

.card-head span {
  display: block;
  text-transform: uppercase;
  color: var(--black);
  font-weight: 800;
  padding-left: 5px;
  letter-spacing: 0.1rem;
  font-size: 1rem;
}

.card-head small {
  font-weight: 600;
  padding-left: 5px;
  color: var(--light-color);
}

.card-info h2 {
  font-size: 1.6rem;
  color: var(--dark-blue);
}

.card-info .act {
  font-size: 0.8rem;
  color: #0044ff;
}

.card-chart span {
  padding-left: 5px;
  font-size: 5rem;
  color: var(--blue);
}

.Dash-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-top: 1rem;
  transform: translateX(3.5%);
}

.datetime {
  color: var(--blue);
  background: var(--white);
  width: 350px;
  padding: 20px 0px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 1rem;
  transform: translateX(55%);
}

.datetime:hover {
  background: var(--blue);
  color: var(--white);
  box-shadow: 0 0 30px var(--blue);
}

.date {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
}

.time {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 3px;
}

.time span:last-child {
  background: var(--white);
  font-size: 25px;
  color: var(--blue);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 5px;
  padding: 0 5px;
  border-radius: 3px;
}

.quick-links {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.icon-content {
  transform: translateX(20%);
}

.icon-content .icos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
}

.icon-content .one {
  margin-bottom: 0.6rem;
}

.icon-content .icos a {
  text-decoration: none;
  background-color: #4070f4;
  border: var(--border);
  padding: 0.6rem;
  width: 17rem;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  box-shadow: 0.2rem 0.2rem 0 #d2dfff;
}

.icon-content .icos a:hover {
  background-color: #fff;
  color: #4070f4;
}

.Dash-container .division h1,
.Dash-container .lists h1 {
  color: #03262c;
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}

.Dash-container .lists h1 {
  transform: translateX(-15%);
}

.section {
  border: 0.1rem solid #4070f4;
  padding: 0.5rem;
  height: 23rem;
  width: 25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
}

.part {
  background-color: #4070f4;
  padding: 0.6rem;
}

.part h4 {
  color: #03262c;
  border-bottom: 0.1rem solid white;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5px;
}

.part P {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}

/* Student Dashboard Responsive starts here */

@media (max-width: 1410px) {
  .Dash-container {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 5rem;
    transform: translateX(-5%);
    transition: 0.5s ease-in-out;
  }

  .todocontainer {
    transform: translateX(25%);
  }

  .card-single {
    width: 88%;
  }

  .Dash-container .division h1,
  .Dash-container .lists h1 {
    margin: 18px;
  }
}

@media (max-width: 1115px) {
  .card-chart span {
    font-size: 3rem;
  }

  .card-head span {
    font-size: 0.9rem;
  }

  .card-head small {
    font-size: 0.8rem;
  }
}

@media (max-width: 960px) {
  .Dash-container {
    transform: translateX(-8%);
  }
}

@media (max-width: 865px) {
  .Dash-container .division h1,
  .Dash-container .lists h1 {
    font-size: 1.5rem;
    margin-bottom: 25px;
  }

  .datetime {
    width: 380px;
    padding: 15px 4px;
  }

  .time {
    font-size: 40px;
  }

  .time span:last-child {
    font-size: 25px;
  }

  .date {
    font-size: 17px;
  }

  .icon-content .icos a {
    font-size: 1.3rem;
  }

  .icon-content {
    transform: translateX(8%);
  }

  .todocontainer {
    transform: translateX(15%);
  }

  .card-chart span {
    font-size: 2.5rem;
  }

  .card-head span {
    font-size: 0.7rem;
  }

  .card-head small {
    font-size: 0.6rem;
  }
}

@media (max-width: 800px) {
  .Dash-container .division h1 {
    text-align: center;
    margin-left: 10rem;
    margin-bottom: 0.8rem;
  }

  .Dash-container .lists h1 {
    text-align: center;
    width: 100%;
    transform: translate(0%);
    margin-bottom: 0.8rem;
  }

  .cards {
    display: flex;
    flex-direction: column;
    transform: translateX(20%);
  }

  .card-single {
    width: 60%;
  }

  .main-content header .icon .fa-search {
    visibility: hidden;
    display: block;
  }

  .main-content header .icon span {
    padding: 0;
    margin-top: -30px;
  }
}

@media (max-width: 680px) {
  .Dash-container .lists h1,
  .Dash-container .division h1,
  .Dash-container,
  .icon-content,
  .todocontainer,
  .datetime {
    margin: 0 auto;
    transform: translateX(0%);
  }

  .Dash-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .page-header h1 {
    font-size: 1.8rem;
  }

  .page-header .header-actions a {
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 0;
  }

  .main-content header .menu-toggle h1 {
    margin-left: 6rem;
  }

  .Dash-container .division h1,
  .Dash-container .lists h1 {
    margin: 18px;
  }
}

@media (max-width: 630px) {
  .icon-content .icos {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .page-header .header-actions .emoji1 {
    display: none;
    visibility: hidden;
  }

  .page-header .header-actions .emoji2 {
    display: block;
    visibility: visible;
  }
}

@media (max-width: 530px) {
  .datetime {
    width: 340px;
  }

  .Seperate-bar {
    height: 82%;
    font-size: 1rem;
  }

  .btn {
    padding: 0rem 0.5rem;
    font-size: 1rem;
  }
}

@media (max-width: 381px) {
  .card-info small {
    font-size: 0.6rem;
  }

  .card-info h2 {
    font-size: 1.5rem;
  }

  .card-single {
    width: 100%;
  }

  .cards {
    transform: translate(0%);
  }
}

/* Admin Dashboard Responsive ends here */

/* Admin Dashboard Section ends here */

/*-------------------------------------------------------------
----------- Admin Details Section starts here -----------------
---------------------------------------------------------------  */

.AdminDetails-container {
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.AdminDetails-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.AdminDetails-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--blue);
}

.AdminDetails-container form {
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.AdminDetails-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AdminDetails-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.AdminDetails-container .input-field input,
.AdminDetails-container .input-field select {
  outline: none;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  color: var(--light-color);
  margin: 5px 0;
  width: 100%;
}

.AdminDetails-container .input-field input:focus,
.AdminDetails-container .input-field select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.StudDetails {
  text-transform: capitalize;
}

.StudDetails-list {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.StudDetails-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.StudDetails-table th,
.StudDetails-table td {
  padding: 5px 10px;
}

.StudDetails-table tbody tr {
  border-bottom: 1px solid var(--white);
}

.StudDetails-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.StudDetails-table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.StudDetails-table tbody tr td i {
  color: red;
  border: 0.1rem solid red;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.StudDetails-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.StudDetails-table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--blue);
}

.StudDetails-table button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5rem;
}

/* Admin Details Responsive starts here */

@media (max-width: 550px) {
  .AdminDetails-container form .fields .input-field {
    width: 100%;
  }
}

/* Admin Details Responsive ends here */

/*  Admin Details section ends here */

/*-------------------------------------------------------------
----------- Admin Attendance Section starts here --------------
---------------------------------------------------------------  */

.AdminAttendance-container {
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.AdminAttendance-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.AdminAttendance-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--blue);
}

.AdminAttendance-container form {
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.AdminAttendance-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.AdminAttendance-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.AdminAttendance-container .input-field input,
.AdminAttendance-container .input-field select {
  outline: none;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  color: var(--light-color);
  margin: 5px 0;
  width: 100%;
}

.AdminAttendance-container .input-field input:focus,
.AdminAttendance-container .input-field select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.attendance {
  text-transform: capitalize;
}

.attendance-list {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid var(--white);
}

.table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--blue);
}

.table button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5rem;
}

/* Admin Attendance Responsive starts here */

@media (max-width: 550px) {
  .AdminAttendance-container form .fields .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AdminAttendance-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin Attendance Responsive ends here */

/*  Admin Attendance section ends here */

/*-------------------------------------------------------------
------------- Admin table Section starts here -----------------
---------------------------------------------------------------  */

.table-container {
  transform: translateX(10%);
  margin: 2rem;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid var(--dark-blue);
  text-align: center;
  padding: 5px;
}

table {
  width: 80%;
}

.clr1 {
  background-color: var(--white);
  color: var(--black);
  font-size: .8rem;
  font-weight: 600;
}

.size {
  font-size: .8rem;
  background-color: #488ef8;
}

.main-content .tab-title {
  margin: .8rem;
}

/* Admin table Responsive starts here */

@media (max-width: 915px) {
  .table-container {
    transform: translateX(0%);
  }

  table {
    width: 100%;
  }

  .main-content .tab-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .main-content .tab-title {
    font-size: 1.1rem;
  }
}

@media (max-width: 745px) {
  th,
  td,
  tr {
    display: block;
  }

  #hide {
    display: none;
  }

  .table-container {
    width: 70%;
    margin: 1rem auto;
  }

  .size {
    background-color: lightseagreen;
  }

  .clr1,
  .clr3 {
    background-color: whitesmoke;
  }
}

@media (max-width: 400px) {
  .table-container {
    width: 90%;
    margin: 1rem;
  }
}

/* Admin table Responsive ends here */

/* Admin table Section ends here  */

/*-------------------------------------------------------------
----------- Admin time table Section starts here --------------
---------------------------------------------------------------  */

.Admintimetable-container {
  max-width: 800px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.Admintimetable-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.Admintimetable-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 140px;
  border-radius: 8px;
  background-color: var(--blue);
}

.Admintimetable-container form {
  position: relative;
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.Admintimetable-container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  margin: 3px 0;
  color: var(--blue);
  text-decoration: underline;
}

.Admintimetable-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Admintimetable-container form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.Admintimetable-container form .Different-addtt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Admintimetable-container form .Different-addtt .input-field {
  display: flex;
  width: calc(100% / 2 - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.Admintimetable-container .input-field label {
  font-size: .9rem;
  font-weight: 500;
  color: var(--blue);
}

.Admintimetable-container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin: 3px 0;
  color: var(--dark-blue);
  text-decoration: underline;
}

.Admintimetable-container .input-field input,
.Admintimetable-container .input-field select {
  outline: none;
  font-size: .8rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  margin: 5px 0;
  width: calc(100%-10%);
  color: var(--light-color);
}

.Admintimetable-container .input-field input:focus,
.Admintimetable-container .input-field select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.timetable-division {
  margin-top: 20px;
  font-size: 1rem;
}

.timetable-division-list table tbody tr td i {
  color: red;
  border: 0.1rem solid red;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.timetable-division-list {
  width: 95%;
  padding: 10px;
  margin: 10px auto ;
  background: #fff;
  border-radius: 10px;
  border: .1rem solid #4070f4;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

/* Admin timetable Responsive starts here */

@media (max-width: 550px) {
  .Admintimetable-container form .fields .input-field {
    width: 100%;
  }

  .Admintimetable-container form .Different-addtt .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Admintimetable-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }

  .Admintimetable-container form .Different-addtt {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin timetable Responsive ends here */

/*  Admin time table section ends here */

/*-------------------------------------------------------------
--------------- Admin Fees Section starts here ----------------
---------------------------------------------------------------  */

.AdminFees-container {
  max-width: 500px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.AdminFees-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.AdminFees-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--blue);
}

.AdminFees-container form {
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.AdminFees-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.AdminFees-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.AdminFees-container .input-field input,
.AdminFees-container .input-field select {
  outline: none;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  color: var(--light-color);
  margin: 5px 0;
  width: 100%;
}

.AdminFees-container .input-field input:focus,
.AdminFees-container .input-field select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.AdminStudFess {
  text-transform: capitalize;
}

.AdminStudFess-list {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.AdminStudFess-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.AdminStudFess-table th,
.AdminStudFess-table td {
  padding: 8px 10px;
}

.AdminStudFess-table tbody tr {
  border-bottom: 1px solid var(--white);
}

.AdminStudFess-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.AdminStudFess-table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.AdminStudFess-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.AdminStudFess-table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--blue);
}

.AdminStudFess-table button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5rem;
}

/* Admin Fees Responsive starts here */

@media (max-width: 550px) {
  .AdminFees-container form .fields .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AdminFees-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin Fees Responsive ends here */

/*  Admin Fees section ends here */

/*-------------------------------------------------------------
--------------- Admin Exam Section starts here ----------------
---------------------------------------------------------------  */

.seperate-exam {
  display: flex;
  flex-wrap: wrap;
}

.AdminExam-container {
  max-width: 550px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.AdminExam-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.AdminExam-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 110px;
  border-radius: 8px;
  background-color: var(--blue);
}

.AdminExam-container form {
  position: relative;
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.AdminExam-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AdminExam-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.AdminExam-container .input-field label {
  font-size: .9rem;
  font-weight: 500;
  color: var(--blue);
}
.AdminExam-container .input-field select,
.AdminExam-container .input-field input {
  outline: none;
  font-size: .7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  margin: 5px 0;
  width: calc(100%-10%);
  color: var(--light-color);
}

.AdminExam-container .input-field select:focus,
.AdminExam-container .input-field input:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.StudExamDetails {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1rem;
}

.StudExamDetails-list {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  background: #fff;
  border-radius: 10px;
  border: var(--border);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.StudExamDetails-table {
  border-collapse: collapse;
  margin: 25px 0;   
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  font-size: 1rem;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.StudExamDetails-table th,
.StudExamDetails-table td {
  font-size: .8rem;
  padding: 10px 12px;
}

.StudExamDetails-table tbody tr {
  border-bottom: 1px solid var(--white);
}

.StudExamDetails-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.StudExamDetails-table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.StudExamDetails-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.Exam-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: .5rem 5%;
}

#hide2,#hide3 {
  visibility: hidden;
  display: none;
}

.container {
  text-align: center;
  margin: 1rem;
  padding: .5rem;
  border: var(--border);
  background-color: var(--white);
  cursor: pointer;
}

.container:hover {
  background-color: var(--blue);
color: var(--white);
}

.Exam-Container .container h1 {
  font-size: 1rem;
}

/* Admin Exam Responsive starts here */

@media (max-width: 860px) {
  .Exam-Container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 420px) {
  .Exam-Container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 550px) {
  .AdminExam-container form .fields .input-field {
    width: 100%;
  }

  .AdminExam-container form .Different-addtt .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AdminExam-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }

  .AdminExam-container form .Different-addtt {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin Exam Responsive ends here */

/*  Admin Exam section ends here */

/*-------------------------------------------------------------
----------- Admin Result Section starts here ------------------
---------------------------------------------------------------  */

.AdminResult-container form .title {
  display: block;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin: 3px 0;
  color: var(--dark-blue);
  text-decoration: underline;
}

.AdminResult-container {
  max-width: 700px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.AdminResult-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.AdminResult-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 100px;
  border-radius: 8px;
  background-color: var(--blue);
}

.AdminResult-container form {
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.AdminResult-container form .fields {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.AdminResult-container form .fields .input-field {
  display: flex;
  width: calc(100% / 3 - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.AdminResult-container .input-field label {
  font-size: .9rem;
  font-weight: 500;
  color: var(--blue);
}

.AdminResult-container .input-field input,
.AdminResult-container .input-field select {
  outline: none;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  color: var(--light-color);
  margin: 5px 0;
  width: 100%;
}

.AdminResult-container .input-field input:focus,
.AdminResult-container .input-field select:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.AdminResultDetails {
  text-transform: capitalize;
}

.AdminResultDetails-list {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.AdminResultDetails-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 14px;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.AdminResultDetails-table tbody tr td i {
  color: red;
  border: 0.1rem solid red;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

table thead tr {
  color: #fff;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.AdminResultDetails-table th,
.AdminResultDetails-table td {
  padding: 5px 10px;
}

.AdminResultDetails-table tbody tr {
  border-bottom: 1px solid var(--white);
}

.AdminResultDetails-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.AdminResultDetails-table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.AdminResultDetails-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.AdminResultDetails-table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--blue);
}

.AdminResultDetails-table button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5rem;
}

/* Admin Result Responsive starts here */

@media (max-width: 550px) {
  .AdminResult-container form .fields .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .AdminResult-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin Result Responsive ends here */

/*  Admin Result section ends here */

/*-------------------------------------------------------------
----------- Admin Report Section starts here ------------------
---------------------------------------------------------------  */

.Adminreport-container {
  max-width: 550px;
  width: 100%;
  border-radius: 6px;
  padding: 25px;
  margin: 1rem auto;
  background-color: var(--white);
  border-top: 8px solid var(--blue);
  border-left: var(--border);
  border-right: var(--border);
  border-bottom: var(--border);
}

.Adminreport-container h1 {
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-blue);
}

.Adminreport-container h1::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  width: 110px;
  border-radius: 8px;
  background-color: var(--blue);
}

.Adminreport-container form {
  margin-top: 10px;
  background-color: var(--white);
  overflow: hidden;
}

.Adminreport-container form .fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Adminreport-container form .fields .input-field {
  display: flex;
  width: calc(100% - 15px);
  flex-direction: column;
  margin: 3px 0;
}

.Adminreport-container .input-field label {
  font-size: .9rem;
  font-weight: 500;
  color: var(--blue);
}

.Adminreport-container .input-field input,
.Adminreport-container .input-field select {
  outline: none;
  font-size: .7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  height: 36px;
  margin: 5px 0;
  width: calc(100%-10%);
  color: var(--light-color);
}

.Adminreport-container .input-field textarea {
  outline: none;
  font-size: .7rem;
  font-weight: 400;
  border-radius: 5px;
  border: 0.1rem solid var(--light-color);
  padding: 0 12px;
  margin: 5px 0;
  width: calc(100%-10%);
  color: var(--light-color);
}

.Adminreport-container .input-field input:focus,
.Adminreport-container .input-field select:focus,
.Adminreport-container .input-field textarea:focus {
  box-shadow: var(--box-shadow);
  border: var(--border);
  color: var(--black);
}

.AdminStudReport {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 1rem;
}

.AdminStudReport-list {
  width: 95%;
  padding: 10px;
  margin: 10px auto;
  background: #fff;
  border-radius: 10px;
  border: var(--border);
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.AdminStudReport-table {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

table thead tr {
  color: #fff;
  font-size: 1rem;
  background: var(--blue);
  text-align: left;
  font-weight: bold;
}

.AdminStudReport-table th,
.AdminStudReport-table td {
  font-size: .8rem;
  padding: 6px 12px;
}

.AdminStudReport-table tbody tr {
  border-bottom: 1px solid var(--white);
}

.AdminStudReport-table tbody tr:nth-of-type(odd) {
  background: var(--white);
}

.AdminStudReport-table tbody tr.active {
  font-weight: bold;
  color: var(--blue);
}

.AdminStudReport-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--blue);
}

.AdminStudReport-table button {
  padding: 6px 20px;
  border-radius: 10px;
  cursor: pointer;
  background: transparent;
  border: 1px solid var(--blue);
}

.AdminStudReport-table button:hover {
  background: var(--blue);
  color: var(--white);
  transition: 0.5rem;
}

/* Admin Report Responsive starts here */

@media (max-width: 550px) {
  .Adminreport-container form .fields .input-field {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Adminreport-container form .fields {
    flex-wrap: wrap;
    gap: 0px;
  }
}

/* Admin Report Responsive ends here */

/*  Admin Report section ends here */

/* ------------------------------------------------------ADMIN CONTAINER STYLE ENDS HERE------------------------------------------------------ */
